REALTOKENS_API_URL=https://api.realtoken.community/v1/token

API_PORT_INTERNAL=5000

# Allow any app from realtoken.community (*.realtoken.community)
CORS_ORIGIN_REGEX=^https?://([a-z0-9-]+\.)*realtoken\.community$
# or allow any origin
#CORS_ORIGIN_REGEX=.*

# Postgres DB
POSTGRES_DB=yam_events
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_READER_USER_NAME=yam-indexing-reader
POSTGRES_READER_USER_PASSWORD=

# Telegram alerts [optional]
TELEGRAM_ALERT_BOT_TOKEN=
TELEGRAM_ALERT_GROUP_ID=