# Compiled Python files
__pycache__/
*.pyc

playground*.py

# Log files and directories
logs/*
!logs/.gitkeep

# Ignore log files
*.log
*.log*.*

#venv
venv/
.venv/
env/
.env/

# Pour le frontend Vue.js
UI/node_modules/
UI/dist/
UI/.env.local

# Node modules
node_modules/

# Database files
*.db
*.sqlite
*.sqlite3

# OS-specific
.DS_Store

.env